@font-face {
    font-family: "Fraunces";
    src: local("Fraunces"), url("../fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colors */
    --white: #FFF;
    --cream: #F2EAE2;
    --aurometal: #6C7289;
    --auqamarine: #3D8168;
    --aquamarine-hover: #1A4032;
    --gunmetal: #1C232B;

    /* Typography */
    --display: normal 700 32px/100% "Fraunces", serif;
    --body: normal 500 14px/150% "Montserrat", sans-serif;
    --button: normal 700 14px/normal "Montserrat", sans-serif;
    --overline: normal 500 12px/normal "Montserrat", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--cream);
    padding: 24px 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

button {
    font: var(--button);
    color: var(--white);
    background-color: var(--auqamarine);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: var(--aquamarine-hover);
    cursor: pointer;
}

.current {
    font: var(--display);
    color: var(--auqamarine);
}

.former {
    color: var(--aurometal);
    font: var(--body);
    font-size: 13px;
}

h1 {
    color: var(--gunmetal);
    font: var(--display);
}

h2 {
    color: var(--aurometal);
    font: var(--overline);
    letter-spacing: 5px;
}

img {
    display: block;
}

main {
    background-color: var(--white);
    border-radius: 10px;
    min-width: 296px;
    flex: 0 1 420px;
}

p {
    color: var(--aurometal);
    font: var(--body);
}

picture {
    display: block;
}

picture > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
}

.price {
    display: flex;
    gap: 19px;
    align-items: center;
    margin-top: 32px;
}

section {
    padding: 24px;
}

section > *:not(button) {
    margin-bottom: 16px;
}

@media (min-width: 600px) {

    body {
        align-items: center;
    }

    main {
        display: flex;
        flex: 0 0 600px;
        height: 450px;
    }

    picture > img {
        border-radius: 10px 0 0 10px;
        height: 100%;
        width: auto;
    }

    section {
        padding: 32px;
    }

    section > *:not(button) {
        margin-bottom: 24px;
    }

    .price {
        margin-bottom: 32px;
    }

}
